.Card {
  margin-top: 5rem;
  margin-left: 25rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(222, 103, 103, 0.1);
  width: 25rem;
  height: 35vh;
  display: flex;
  flex-direction: column;
}
.row1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-size: 22px;
  line-height: 2rem;
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: #2c2c2c;
  font-size: 40px;
}
.r2 {
  display: flex;
}
.deg {
  margin-bottom: 50px;
}
.weather_icon_api {
  width: 10rem;
}
.row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
}
.col1 {
  display: flex;
}
.col2 {
  color: #bfaf1b;
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width: 840px) {
  .Card {
    margin-left: 10%;
  }
}

@media (max-width: 640px) {
  .Card {
    margin-left: 15%;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .Card {
    width: 250px;
    margin-left: 15%;
    height: 300px;
  }
}
