.weatherContainer {
    width: 100%;
    height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
  }
  .breadcrump {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .back {
    color: #0170fe;
    display: flex;
    flex-direction: row;
    width: 4rem;
    justify-content: space-between;
  }
  .add {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    width: 10%;
    justify-content: space-evenly;
  }
  .Row-1 {
    height: 30vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  .arrow {
    font-size: 30px;
    display: flex;
    font-weight: 500;
    margin: 2% 0 1% 0;
  }
  .deg {
    font-size: 50px;
    font-weight: bold;
    display: flex;
  }
  
  .Row-2 {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1% 2% 2% 2%;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: 10px;
  }
  
  .c-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5a5a5a;
  }
  p {
    color: #4e4d4d;
    font-weight: bold;
  }
  
  .Row-3 {
    width: 70%;
    height: 40vh;
    margin-top: 2%;
    padding: 1% 2% 2% 2%;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #5a5a5a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .heading {
    margin-bottom: 5%;
  }
  .rr {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
  }
  .time {
    color: #4e4d4d;
    font-weight: bold;
  }
  
  .bt {
    display: flex;
  }
  .green {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 6px;
    display: flex;
    align-items: center;
  }
  .tick {
    margin-left: 6px;
  }
  .red {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 6px;
  }
  
  @media screen and (max-width: 900px) and (min-width: 600px) {
    .add {
      width: 30%;
    }
    .sun {
      width: 30%;
      margin-top: 3%;
      margin-bottom: 8%;
    }
    .Row-2 {
      width: 80%;
      font-size: 16px;
      margin-top: 8%;
    }
    .Row-3 {
      width: 80%;
      font-size: 16px;
      margin-top: 5%;
    }
  }
  
  @media (max-width: 600px) {
    .add {
      width: 40%;
    }
    .sun {
      width: 40%;
      margin-top: 3%;
      margin-bottom: 8%;
    }
    .deg {
    }
    .Row-2 {
      width: 90%;
      font-size: 12px;
      margin-top: 15%;
    }
    .Row-3 {
      width: 90%;
      font-size: 12px;
      margin-top: 10%;
    }
  }
  @media (max-width: 500px) {
    .green {
      width: 90px;
      height: 30px;
      font-size: 10px;
      padding: 1px 5px;
      margin-right: 5px;
    }
    .tick {
      margin-left: 4px;
      width: 10px;
    }
    .red {
      width: 80px;
      height: 30px;
      font-size: 10px;
      padding: 2px 8px;
      margin-right: 1px;
    }
  }
  